@charset "UTF-8";
* {
    box-sizing: border-box;
 }
 header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
 }
 h1 {
    margin: 0; padding: 0;
    font-size: 20px;
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }
 li {
    margin: 0 0 0 15px;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
 }
 nav {
    margin: 0 0 0 auto;
 }
html {
    font-size: 100%;
}
body{
    background-color: #242323;
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: rgb(68, 34, 34);
}
a {
    text-decoration: none;
    color: #fff;
}
.yuugiou{
    text-align: right;
    margin: 2rem;
    font-size: 50px;
}
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.item-center{
    align-items: center;
}
img {
    max-width: 100%;
}
.bunsyou{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
.align-center {
    text-align: center;
}
b{
    color: #fff;
    font-size: 150%;
}
.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th,
.info td {
    border-bottom: 1px solid #c9c2bc;
}
.info th {
    text-align: left;
    font-weight: normal;
    padding: 1rem;
    color: #fff;
}
.info td {
    padding: 1rem 0;
    color: #fff;
}
.copy {
    background-color: gray;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}
p{
    color: #fff;
    background-color: #242323;
    padding: 3rem;
    margin: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
}
.font-japan{
    text-align: center;
    font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDPGothic', sans-serif;
    font-size: 150%;
    color: gray;
}
.main-navfont-english{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    text-align: right;
    background-color: lightblue;
}
.page-titlefont-english{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    text-align: center;
    background-color: lightblue;
}
details {
    border: 1px solid #ccc;
  }
  /**
   * list-style: none; ←デフォルト三角削除（Chrome非対応）
   * cursor: pointer; ←カーソルをポインターに
  **/
  details summary {
    list-style: none;
    cursor: pointer;
    background: #242323;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }
  /**
   * Chrome用のデフォルト三角削除
  **/
  details summary::-webkit-details-marker {
    display: none;
  }
  /**
   * Font Awesomeのプラスアイコン使用
  **/
  details summary::before {
    font-family: FontAwesome;
    content: '\f067';
    margin-right: 20px;
  }
  /**
   * アコーディオンがオープン時はマイナスアイコンに変更
  **/
  details[open] summary::before {
    content: '\f068';
  }
  
  details p {
    margin: 0;
  }  